<ion-view view-title="북마크" cache-view="false">
	<ion-nav-buttons side="right">
		<button class="button button-icon icon ion-ios-minus-outline"
		        ng-click="data.showDelete = !data.showDelete"></button>
	</ion-nav-buttons>
	<ion-content>
		<ion-list show-delete="data.showDelete">
			<ion-item ng-repeat="bookmark in bookmarks" href="#/app/posts/{{ bookmark._id }}">
				{{ bookmark.title }} {{ bookmark.excerpt }}
				<ion-delete-button class="ion-minus-circled"
				                   ng-click="onItemDelete(bookmark)">
				</ion-delete-button>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
