<ion-view view-title="{{::categoryTitle}}">
	<ion-nav-buttons side="right">
		<button class="button button-icon icon bookmark"
				ng-class="bookmarkRev !== null ? 'ion-ios-star' : 'ion-ios-star-outline'"
				ng-click="toggleBookmark()"></button>
	</ion-nav-buttons>
	<ion-content id="post-pane">
		<div id="post-header">
			<h1>{{::postTitle}}</h1>
			<span class="update">최종 업데이트 : {{::postDate | date:'yyyy-MM-dd'}}</span>
		</div>
		<div id="post-content" ng-bind-html="::postContent"></div>
	</ion-content>
</ion-view>
