<ion-view>
	<ion-nav-title>설정</ion-nav-title>
	<ion-content>
		<ul class="list">
			<li class="item item-toggle">
				와이파이로만 업데이트
				<label class="toggle toggle-assertive">
					<input type="checkbox">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</li>
			<li class="item item-toggle">
				업데이트 확인 주기
				<label class="toggle toggle-assertive">
					<input type="checkbox">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</li>
		</ul>
	</ion-content>
</ion-view>
