/* Empty. Add your own CSS if you like */

ion-content {
	padding-top: 24px;
}

.title.title-center.header-item {
	font-size: 18px;
	font-weight: bold;
	height: 50px !important;
}

#menu-notice {
	background-color: #ff9d4d;
	color: white;
}

#menu-notice span {
	font-size: 0.8em;
}

#notice-content {
	padding: 24px;
}

#post-header {
	border: 9px white solid;
	padding: 15px;
	width: 100%;
	background-color: #f7f7f7;
}

#post-header .update {
	font-size: 0.7em;
}

#post-content sub {
	bottom: 0; /* #32 이슈 수정 */
}

#about p {
	padding-left: 24px;
	padding-right: 24px;
}

#about table.table {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#about table.table th {
	width: 50%;
	font-weight: bold;
	text-align: right;
	padding: 10px;
}

#about table.table td {
	width: 50%;
	text-align: left;
}

#about table.table.about {
	margin-top: 24px;
	margin-bottom: 40px;
}

#about table.table.update {
	background-color: #ff7200;
	color: white;
}

/*TODO 기본 포함된 대응 아이템 찾아 변경 */
button.bookmark {
	color: #FF7200 !important;
}

/*TODO 기본 포함인 .activated로 변경*/
.menu-active {
	color: #FF7200 !important;
}

.menu-notice {
	background-color: #FF7200 !important;
	color: white !important;
}

/*
 * http://docs.angularjs.org/api/ng/directive/ngShow#usage_animations
 */
.list .item.item-accordion {
	transition: 0.09s all linear;
}

.list .item.item-accordion.ng-hide {
	line-height: 0;
}

.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
	display: block !important;
}